.homearts__artItem {
    height: 16rem;
    background-color: #323337;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    gap: .8rem;
    animation: loader 1.5s infinite;
}

.loaded_homearts__artItem{
    cursor: pointer;
    height: 16rem;
    width: calc(100% / 3 - .8rem);
    background-color: #323337;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    gap: .8rem;
    box-shadow: 0 0 6px #101011;
}

.loaded_homearts__artItem img {
    transition-duration: 300ms;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.loaded_homearts__artItem__content {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: .8rem;
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
}

.loaded_homearts__artItem__content * {
    color: #dbdbdd;
    letter-spacing: .5px;
    padding: 2px 0;
}

.loaded_homearts__artItem__content h6 {
    font-weight: 500;
}

.loaded_homearts__artItem:hover .loaded_homearts__artItem__content {
    display: inline-block;
}

.loaded_homearts__artItem:hover img {
    transition-duration: 300ms;
    transform: scale(1.1);
}

@keyframes loader {
    0% { background-color: #323337 }
    50% { background-color: #161616 }
    100% { background-color: #323337 }
}

@media only screen and (max-width: 1150px) {
    .loaded_homearts__artItem{
        cursor: pointer;
        height: 16rem;
        width: 100%;
        background-color: #323337;
        overflow: hidden;
        position: relative;
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 930px) {
    .loaded_homearts__artItem{
        cursor: pointer;
        height: 16rem;
        width: 100%;
        background-color: #323337;
        overflow: hidden;
        position: relative;
        flex-basis: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .loaded_homearts__artItem{
        cursor: pointer;
        height: 16rem;
        width: 100%;
        background-color: #323337;
        overflow: hidden;
        position: relative;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .loaded_homearts__artItem{
        cursor: pointer;
        height: 16rem;
        width: 100%;
        background-color: #323337;
        overflow: hidden;
        position: relative;
        flex-basis: 100%;
    }
}