.app {
    width: 100%;
    height: 100%;
    padding: .8rem;
    background-color: #1F1F21;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: .8rem;
    grid-row-gap: .8rem;
}

.app > div {
    border-radius: 8px;
}